colorama==0.3.5
decorator==4.0.6
Django==1.9.1
django-registration-redux==1.2
djangorestframework==3.3.2
httpie==0.9.3
pathlib==1.0.1
Pillow==3.1.0
psutil==3.3.0
pygments==2.0.2
pytz==2015.7
requests==2.9.1
six==1.10.0
thefuck==3.2
virtualenv==13.1.2
wheel==0.26.0
